* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
}

.container {
  background-color: #2b5870;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  margin: auto;
  margin-top: 20rem;
  height: 40rem;
  border-radius: 20px;
  box-shadow: 1px 1px 30px #222;
}

.temperature {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  font-size: 5rem;
  margin-bottom: 2rem;
  height: 22rem;
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.buttons {
  margin-bottom: 1rem;
}

.btn {
  margin: 0 4rem;
  height: 7rem;
  width: 7rem;
  font-size: 2rem;
  border: 3px solid #fff;
  border-radius: 50%;
  color: #fff;
  background-color: #555;
}

.btn:hover {
  background-color: #999;
}
